<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Account</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>

<div class="top-bar">
    <div class="nav-links">
        <a href="{{ url_for('index') }}">Home</a>
    </div>
</div>

<div class="container">

<h1>Account Balance</h1>

<div class="card balance">
    <h3>Total Balance</h3>
    <p>{{ balance }}</p>
</div>

</div>

</body>
</html>
