!DOCTYPE html
html
head
    titleCategoriestitle
    link rel=stylesheet href=staticstyle.css
head
body
div class=container

    h1Categoriesh1

    div class=card
        form method=POST
            labelAdd New Categorylabel
            input type=text name=name required
            button type=submitAddbutton
        form
    div

    div class=card
        h2Existing Categoriesh2
        ul
            {% for c in categories %}
            li{{ c.name }}li
            {% endfor %}
        ul
    div

div
body
html