<!DOCTYPE html>
<html>
<head>
    <title>Dashboard</title>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>

<h1>Dashboard</h1>

<a class="btn" href="/">Back</a>

<h2>Expenses by Category</h2>

<canvas id="categoryChart"></canvas>

<script>
const labels = {{ labels | tojson }};
const values = {{ values | tojson }};

new Chart(document.getElementById("categoryChart"), {
    type: "pie",
    data: {
        labels: labels,
        datasets: [{
            data: values,
            backgroundColor: ["#ff6384", "#36a2eb", "#ffcd56", "#4bc0c0", "#9966ff"]
        }]
    }
});
</script>

</body>
</html>
